.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App h1,
h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
}
.App h2,
#description {
  text-align: right;
}
.App #main-emoji {
  display: block;
  float: right;
}

.App h3 {
  text-align: left;
  font-family: "Merriweather", serif;
  margin-left: 0px;
  font-size: 12px;
}

.App #celsius,
#fahrenheit {
  font-size: 30px;
}

.App .input-city {
  width: 425px;
  border: none;
}
.App .search-button,
#current-location {
  width: 170px;
  background: #53a8b6;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: 2px;
  margin-top: -5px;
  border: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
.App .container {
  margin: 20px 100px;
  padding: 20px 60px 10px;
  background: #bbe4e9;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
}
.App form {
  padding: 10px 0 50px;
}
.App .future-days {
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-right: -45px;
  font-size: 18px;
}
.App .image-weather {
  text-align: right;
  margin-top: -65px;
  margin-right: 10px;
}

.App .col {
  margin-right: -30px;
}
.App .line {
  color: #53a8b6;
}

.App .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.App .active:hover {
  text-decoration: none;
  color: black;
}
