.App .container {
  margin: 20px 100px;
  padding: 20px 60px 10px;
  background: #bbe4e9;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

.App .image-weather {
  text-align: right;
  margin-top: -65px;
  margin-right: 10px;
}
