.App .container {
  margin: 20px 100px;
  padding: 20px 60px 10px;
  background: #bbe4e9;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
  font-family: "Merriweather", serif;
}

.App footer {
  font-size: 11px;
  margin: 80px 80px 0;
  text-align: center;
}

.App .weather-image {
  float: right;
  margin-top: -20px;
  margin-right: -15px;
  opacity: 0.9;
}
